.wqu{
    position: relative;
    margin: 0 auto;
    padding: 5rem 0rem;
    background: var(--sg-bglight);
}
/* .wqu::before{
    position: absolute;
    content: '';
    top: -3rem;
    left: 0;
    width: calc(100%);
    height: 100%;
    background: linear-gradient(0deg, var(--sg-bglight), rgb(15, 15, 15));
} */
.wqu-box{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 670px;
    z-index: 2;
    @media screen and (max-width: 670px) {
        margin: 0 1rem;
    }
}
.wqu .wquh-box{
    padding-bottom: 2rem;
}
.wqu .wqu-h h2{
    font-size: 2rem;
}
.wqu .wquc-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wqu .wquc-box li{
    /* margin: 0 auto; */
    border-top: 1px solid var(--sg-border-00);
}
.wqu .wquc-box .qulh-box{
    min-height: 50px;
    padding: 1rem 0rem;
    align-items: flex-start;
}
.wqu .wquc-box .qulh-box h3{
    font-size: 1.1rem;
}
.wqu .wquc-box .qulh-box .icon{
    margin-left: 1rem;
    min-width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background: var(--sg-bglight);
}
.wqu .wquc-box .qulh-box .icon svg{
    width: 1.8rem;
}
.wqu .wquc-box .qul-c{
    overflow: hidden;
    height: 0rem;
    opacity: 0;
    padding: 0rem;
    transition: all ease-in-out 0.3s;
}
.wqu .wquc-box li.active .qul-c{
    min-height: 100px;
    height: max-content;
    opacity: 1;
    padding-bottom: 1rem;
}
.wqu .wquc-box .qulc-box p{
    line-height: 1.4;
    font-size: 1rem;
}
@media screen and (max-width: 600px) {
    .wqu .wqu-h h2{
        font-size: 1.85rem;
    }
    .wqu .wquc-box .qulh-box h3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .wqu .wqu-h h2{
        font-size: 1.5rem;
    }
}