.ns-box{
    max-width: 2560px;
    margin: 0 auto;
    min-height: 100vh;
    border: 1px solid var(--sg-border-00);
    border-top: none;
    border-bottom: none;
    padding-top: 4rem;
}
@media only screen and (max-width: 2560px) {
    .ns-box{
        margin: 0rem 0.8rem;
    }
}
.ns-box .nsh{
    border: 1px solid var(--sg-border-00);
    border-left: none;
    border-right: none;
}
.ns-box .nsh .nshc{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sg-border-00);
    border-top: none;
    border-bottom: none;
    min-height: 250px;
}
.nsh-box{
    padding: 1.5rem 0rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .nsh-box{
        margin: 0rem 0.8rem;
        width: initial;
    }
}
.nsh-box h2{
    font-size: 2rem;
    font-weight: 600;
}
.nsh-box p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
}
.ns-box .nsn{
    border-bottom: 1px solid var(--sg-border-00);
}
.ns-box .nsn .nsn-box{
    padding: 2rem;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid var(--sg-border-00);
    border-top: none;
    border-bottom: none;
}
.ns-box .nsn .nsn-box .btn{
    position: relative;
    height: 2.8rem;
    min-width: 100px;
    width: max-content;
    cursor: pointer;
    background: var(--sg-bgblack);
    box-sizing: border-box;
    font-family: var(--font-brand);
}
.ns-box .nsn .nsn-box .btn.active{
    color: var(--sg-bglight);
    background: var(--sg-color-def);
}
.ns01 .nsc-box{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    /* corner-shape: inherit;
    background-image: url('/bg_svg.svg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 16.5px;
    inset: 0; */

}
.ns01 .nsi{

    corner-shape: inherit;
    inset: 0px;
    background-image: var(--sg-bg-png);
    background-repeat: repeat;
    background-position: center;
    background-size: 250px; 
    border: 1px solid var(--sg-border-00);
    border-left: 0rem;
    border-right: 0rem;
}
.ns01 .nsi:first-child{
    border-top: 0rem;
}
.ns01 .nsi .nsi-box{
    max-width: 1200px;
    margin: 0 auto;
    background: var(--sg-bgblack);
    border: 1px solid var(--sg-border-00);
    border-bottom: none;
    border-top: none;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
}
.ns01 .nsi .nsi-box::before,
.ns01 .nsi .nsi-box::after{
    position: absolute;
    content: '';
    height: 4rem;
    left: -1px;
    bottom: -4rem;
    border-left: 1px solid var(--sg-border-00);
}
.ns01 .nsi .nsi-box::after{
    left: auto;
    right: -1px;
}
.ns01 .nsi .nsi-box .nsir{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ns01 .nsi .nsi-box .nsir:first-child{
    max-width: 600px;
}
.ns01 .nsi .nsi-box .nsirh{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ns01 .nsi .nsi-box .title{
    margin-top: 2rem;
}
.ns01 .nsi .nsi-box .title h2{
    font-size: 2rem;
}
.ns01 .nsi .nsi-box .title h2:hover{
    text-decoration: underline;
}
.ns01 .nsi .nsi-box .descript p{
    font-size: 1rem;
    line-height: 1.5;
}
.ns01 .nsi .nsi-box .descript p:hover{
    text-decoration: underline;
}
.ns01 .nsi .nsi-box .status{
    position: relative;
}
.ns01 .nsi .nsi-box .status span{
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50rem;
    overflow: hidden;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--sg-color-def);
}
.ns01 .nsi .nsi-box .status p{
    margin-left: 1rem;
    font-size: 1rem;
}
.ns01 .nsi .nsi-box .has{
    margin: 2rem auto;
    background: transparent;
    border: none;
}
.ns01 .nsi .nsi-box .has > .cpsl{
    display: none;
}
.ns01 .nsi .nsi-box .hasbox{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.ns01 .nsi .nsi-box .hasbox .hi{
   height: 2.8rem;
   min-width: 100px;
}
.ns01 .nsi .nsi-box .hasbox .hi.active{
    color: var(--sg-color-brand);
}
.ns01 .nsi .nsi-box .note{
    padding: 1rem;
    background: var(--sg-bglight);
}
.ns01 .nsi .nsi-box .note .not-box{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.ns01 .nsi .nsi-box .nsir:last-child{
    max-width: 500px;
    width: 50%;
    padding: 0rem;
    border-left: 1px solid var(--sg-border-00);
}
.ns01 .nsi .nsi-box .mimg{
    width: 100%;
    border-left: none;
    border-right: none;
    margin: 4rem auto;
    aspect-ratio: 1 / 1;
    margin-bottom: 0rem;
}
.ns01 .nsi .nsi-box .nsir:last-child .action{
    padding: 2rem 1rem;
}
.ns01 .nsi .nsi-box .nsir:last-child .action p{
   font-size: 1rem;
   color: var(--sg-color-spece); 
}
.ns01 .nsi .nsi-box .nsir:last-child .action h2{
    font-size: 2rem;
    padding-top: 0.5rem;
}
.ns01 .nsi .nsi-box .nsir:last-child .action .btn{
    padding: 0rem 1rem;
    height: 2.8rem;
    font-size: 0.8rem;
    /* color: var(--sg-bglight); */
    font-family: var(--font-brand);
    /* background: var(--sg-bglight); */
    cursor: pointer;
    gap: 0.5rem;
    /* border: 1px solid var(--sg-color-def); */
    color: var(--sg-bglight);
    background: var(--sg-color-def);
}
.ns01 .nsi .nsi-box .nsir:last-child .action .btn svg{
    width: 1.2rem;
    rotate: 358deg;
    fill: var(--sg-bglight);
}
.ns01 .nsi .nsi-box .nsir:last-child .action .btn path{
    stroke: var(--sg-bglight);
    fill: var(--sg-bglight);
}

@media only screen and (max-width: 1260px) {
    .ns01 .nsi .nsi-box{
        max-width: initial;
        border: none;
    }
    .ns-box .nsh .nshc,
    .ns-box .nsn .nsn-box{
        max-width: initial;
        border: none;
    }
    .ns-box{
        corner-shape: inherit;
        inset: 0px;
        background-image: var(--sg-bg-png);
        background-repeat: repeat;
        background-position: center;
        background-size: 250px; 
    }
    .ns-box .nsn .nsn-box .btn{
        background: var(--sg-bglight);
    }
}
@media only screen and (max-width: 1000px) {
    .ns01 .nsi .nsi-box .nsir{
        width: 50%;
    }
}
@media only screen and (max-width: 780px){
    .ns01 .nsi .nsi-box{
        flex-direction: column;
    }
    .ns01 .nsi .nsi-box .nsir{
        width: initial;
        max-width: 100%;
    }
    .ns01 .nsi .nsi-box .mimg{
        margin: 0rem;
    }
    .ns01 .nsi .nsi-box .nsir:last-child{
        max-width: initial;
        border: none;
        padding: 1rem;
        width: initial;
    }
    .ns01 .nsi .nsi-box .nsir:last-child .nsir-box{
        /* display: flex; */
        width: 100%;
    }
}
@media only screen and (max-width: 650px){
    .ns01 .nsi .nsi-box .has{
        border: 1px solid var(--sg-border-00);
        background: var(--sg-bglight);
    }
    .ns01 .nsi .nsi-box .has .cpsl{
        display: block;
    }
    .ns01 .nsi .nsi-box .hasbox .hi .cpsl{
        display: none;
    }
     .ns01 .nsi .nsi-box .hasbox .hi{
        border: none;
        max-width: initial;
        padding: 0rem 0.8rem;
     }
}
@media only screen and (max-width: 400px){
    .ns-box .nsn{
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .ns-box .nsn::-webkit-scrollbar{
        display: none;
    }
    .ns-box .nsn .nsn-box{
        justify-content: left;
    }
}